<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Cart Export Configuration</title>
        <input-field type="text">
            <name>cartExportFolderName</name>
            <label>Set the folder name that will be created in the project root and use by the plugin</label>
            <value>melasistema-cart-export</value>
            <placeholder>es: cart-export</placeholder>
        </input-field>
    </card>

</config>