{% block melasistema_export_cart_button %}

    <a href="{{ path('frontend.cart.export') }}" style="width:100%; margin-top:10px;" class="btn begin-checkout-btn btn-outline-secondary">
        {{ 'melasistemaCartExport.button.text'|trans }}
    </a>

{% endblock %}
